openpyxl>=3.0.0
python-pptx>=0.6.0
PyMuPDF>=1.16.0
pdf2docx>=0.5.0
tabula-py>=2.0.0
pdfplumber>=0.7.0
python-docx>=0.8.0
BeautifulSoup4>=4.9.0
pdf2image>=1.16.0
Pillow>=9.0.0
pillow-heif>=0.4.0
Pillow-SIMD>=9.0.0
